<h1>Pharmacies#index</h1>
<p>Find me in app/views/pharmacies/index.html.erb</p>
<%@pharmacies.each do |pharmacy|  %>
  <%= "#{pharmacy.pharmacy_name} - #{pharmacy.pharmacy_address}" %>
  <%= "lat-long:(#{pharmacy.latitude}, #{pharmacy.longitude})"  %>

<% end  %>
