// Import page-specific CSS files here.
@import "home";

body {
  margin: 0;
  background-color: rgba(247, 243, 243, 0.979);
  // background-color: rgb(240, 238, 238);
  // h2 {
  // // color:  #3b3b3b;
  // color: rgb(128, 124, 124)
  // // color: #54BEBC;
  // }

  // a {
  // color:  #EE6780;
  // text-decoration: none;
  // font-weight: 500;
  // }


}
