<h1>Medications#index</h1>
<p>Find me in app/views/medications/index.html.erb</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="medications">
        <%= @medications.each do |medication| %>
          <h4><%= medication.active_substance %></h4>
          <p><%= medication.name_and_concentration %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
