  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/andreiaptarifa/med4all"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-about-us">
  <%= link_to 'Sobre nós ', about_path %><i class="fas fa-heart"></i>
  </div>
