<div class="container mt-5 text-center">
  <div class= "row button-section">
   <h2>Parabéns, até o momento vocês fez x doações e ajudou y pessoas!</h2>
    <%= link_to "Doar meus remédios", new_donation_path, class:"btn-home" %>
  </div>
  <div class= "row button-section">
    <%= link_to "Preciso de remédios", new_medication_order_path, class:"btn-home" %>
  </div>
<div>
