<div class="container picture-container">
  <img class="d-flex justify-content-center about-picture" src="https://res.cloudinary.com/dwzrjmdwm/image/upload/v1647968935/development/med4all-project-2_auto_x2_xaoi1e.jpg" style="background-image: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.8))">
  <%# <div class="about-picture" style="background-image: url(https://res.cloudinary.com/dwzrjmdwm/image/upload/v1647968935/development/med4all-project-2_auto_x2_xaoi1e.jpg);"> %>
  <div class= "about-text mb-5"><h4>Grupo Med4All bacth 830</h4>
    <h5>Membros:</h5>
      <p>Andreia Passalacqua Tarifa</p>
      <p>Herman Loosli</p>
      <p>Laura Brasileiro Amaro</p>
      <p>Michelle Pieroni</p>
  </div>
</div>
