<div class="container mt-5 text-center">
  <div class= "row button-section">
  <%= render 'animated' %>
    <%= link_to "Doar meus remédios", new_donation_path, class:"btn-home" %>
  </div>
  <div class= "row button-section">
    <%= link_to "Preciso de remédios", new_medication_order_path, class:"btn-home" %>
  </div>
<div>
