<div class="container mt-5">
  <h1>Seu Remédio</h1>
  <div class= "row">
    <%= link_to "Doar meus remédios", new_donation_path%>
    <%= link_to "Preciso de remédios", new_medication_order_path %>
  </div>
<div>
