.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;

  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  h1 {
    width: 50%;
    margin: 0;
    color: #54bebc;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
  }

  p {
    width: 50%;
    font-size: 25px;
    color: rgb(128, 124, 124);
  }

}

.btn-login {
  color: white;
  background-color: #ee6780;
  padding: 10px 20px;
  border-radius: 50px;
  width: 20%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

.banner-donor {
  background-size: cover;
  // opacity: 0.8;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

  .donor-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100%;
  }

  // .secundary-text {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: top;
  //   height: 100%;
  // }
