.btn-medium {
  color: #000;
  background-color: #CADBF1;
  border-color: #CADBF1;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
}

.btn-login {
  color: white;
  background-color: #ee6780;
  padding: 10px 20px;
  border-radius: 50px;
  width: 20%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

.btn-principal {
  color: white;
  background-color: #ee6780;
  padding: 5px 5px;
  margin-top: 10px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  align-items: center;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

.btn-search-medication {
  color: white;
  background-color: #ee6780;
  padding: 5px 5px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  align-items: center;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

.btn-white {
  color: #54bebc;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 200px;
  // border: none;
  border-color:#54bebc;
  // border-width: 0.5;
  width: 30%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #54bebc;
    color: white;
  }
}

.btn-green {
  color: #fff;
  background-color: #54bebc;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 30%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #fff;
    color: #54bebc;
    border: 1px solid #54bebc;
    border-width: 0.5;
  }
}

.btn-green-secondary {
  color: #fff;
  background-color: #54bebc;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 30%;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #fff;
    color: #54bebc;
    border: 1px solid #54bebc;
    border-width: 0.5;
  }
}


.btn-terciary {
  background-color: #fff;
  color: #54bebc;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;

  &:hover {
    background-color: #fff;
    color: #347574;
  }
}

.btn-medication {
  background-color: #54bebc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;

  &:hover {
    background-color: #347574;
    color: white;
  }
}

.button-section {
  display: flex;
  justify-content: center;
}


.btn-donation {
  color: #ee6780;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 200px;
  border: 3px solid #ee6780;
  width: 30%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .search-btn > .btn-donation {
    width: 100%;
    padding: 5px 10px;
  }
}

@media (min-width: 992px) {
  .search-btn > .btn-donation {
    width: 100%;
    padding: 5px 10px;
  }
}

.btn-unimportant {
  margin-left: 30px;
  padding: 20px;
  color: #54bebc;
  width: 30%;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color:#ee6780;
  }
}
