.btn-medium {
  color: #ffffff;
  border: 1px solid rgb(137, 176, 174);
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: rgba(91, 135, 130, 0.782);
}
