.banner-container {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px - 40px);
  background-size: cover;
  background-position: center;
  padding: 0 120px;


  h1 {
    width: 50%;
    margin: 0;
    color: #54bebc;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
  }

  p {
    width: 40%;
    font-size: 25px;
    color:rgb(100, 98, 98);
  }

  #first-img-text {
    color: rgb(66, 65, 65);
  }

}

.carousel-item:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-img {
  padding: 150px 0;
  height: 100vh;
  width: 100%;
}

.btn-donation {
  color: #ee6780;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 200px;
  border: 1px solid #ee6780;
  width: 30%;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #943f4e;
    color: white;
    border: 1px solid #943f4e;
  }
}
