.info-cards {
  height: 100%;
  width: 100%;
  background-color: #FCFFFD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: rgb(122, 119, 119);
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
    text-align: center;
    color:  #EE6780;
    // rosa #EE6780
    font-size: 70px;
    font-weight: bold;

  }

  h4 {
    color: rgb(128, 124, 124);
    // cinza rgb(128, 124, 124)
  }

  p {
    color:rgb(128, 124, 124);
    font-size: 20px;
  }
}

.icon-cards {
  height: 100vh;
  width: 100%;
  background-color: #FCFFFD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.icon-category {
  margin-top: 30px;
  background-color: #FCFFFD;
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: rgb(122, 119, 119);
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
    text-align: center;
    color:  #EE6780;
    // rosa #EE6780
    font-size: 70px;
    font-weight: bold;

  }

  h4 {
    color: rgb(128, 124, 124);
    // cinza rgb(128, 124, 124)
  }

  p {
    color:rgb(128, 124, 124);
    font-size: 20px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .info-cards {
    grid-template-columns: 1fr;
  }

  .icon-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .info-cards {
    grid-template-columns: 1fr;
  }

  .icon-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.form-medication {
  display: block;
  border-radius: 30px;
    // width: 50%;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
  background-color: #F4F4F4;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .form-control {
    width: 100%;
  }
}

.card-medication {
  background-color: #ebebeb;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #d8d8d8;
  width: 80%;

  p {
    margin: 0;
  }

  a {
    margin: 0;
  }

  .btn-medication {
    background-color: #54bebc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;

    &:hover {
      background-color: #347574;
      color: white;
    }
  }
}


// * {
//   box-sizing: border-box;
// }

.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: .75em solid white;
  padding: 2em;
  font-family: 'Montserrat', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 550px;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;

  h3 .title {
    color: rgb(88, 85, 85);
    font-size: 3em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #EE6780;
    transition: color .45s ease, border .45s ease;
    text-decoration: none;
  }

  h4 {
    color: rgb(83, 81, 81);
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  h5 {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

  .link-text {
    display: block;
    color: #EE6780;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;

    svg {
      margin-left: .5em;
      transition: transform .6s ease;

      path {
        transition: fill .45s ease;
      }
    }
  }

  &:hover {
    background: #EE6780;
    transform: scale(1.02);

    h3 {
      color: #FFFFFF;
      border-bottom-color: #943e4e;
      text-decoration: none;
    }

    .title {
      color: #FFFFFF;
      border-bottom-color: #943e4e;
      text-decoration: none;
    }

    h4 p {
      color: #FFFFFF;
    }

    h5 {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #FFFFFF;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}
