.footer {
  background: #54BEBC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-about-us {
  a {
    color: #1b3b3b;
    opacity: 0.95;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 5px;

    &:hover {
      opacity: 1;
    }
  }
  .fas fa-heart {
    color: #1b3b3b;
    opacity: 0.9;
  }

}
