.new-container {
  background-color: rgba(247, 243, 243, 0.979);
  padding: 80px;
  margin-top: 40px;
}

h1 {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #54BEBC;
}

h4 {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: rgb(128, 124, 124);
  padding: 10px;
}

.btn-principal {
  color: white;
  background-color: #ee6780;
  padding: 5px 5px;
  margin-top: 10px;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  align-items: center;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #943f4e;
    color: white;
  }
}

.form-control {
  display: block;
  border-radius: 30px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
