.navbar-lewagon {
  justify-content: space-between;
  background: rgba(221, 216, 216, 0.959);
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  background-image: white;
}
