.navbar-lewagon {
  justify-content: space-between;
  background: rgba(137, 176, 172, 0.837);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
