.table{
  background:#fff;
  width:80%;
  height:auto;
  display:block;
  float:left;
  position:relative;
  left:6%;
  margin:10px;
  border-top: none;
  border-radius:15px;
  font-family: 'Montserrat', sans-serif;
  overflow:hidden;
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.0);
-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.0);
box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  -webkit-transform:translateY(0%);
  transform:translateY(0%);
  -webkit-transition:.3s;
  transition:.3s;
  &:hover{
     -webkit-transform:translateY(-2%);
      transform:translateY(-2%);
    -moz-box-shadow: 1px 8px 5px rgba(0,0,0,.2);
-webkit-box-shadow: 1px 8px 5px rgba(0,0,0,.2);
box-shadow: 1px 8px 5px rgba(0,0,0,.2);
  }
  .heading{
    width:100%;
    padding:40px;
    text-align:left;
    font-size:22pt;
    color:rgb(119, 114, 114);
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom:20px;
    text-transform:capitalize;
    font-weight: 400;
    font-style: italic;
  }
  .block{
    display:block;
    width:90%;
    margin:20px 50%;
    -webkit-transform:translate(-50%);
    transform:translate(-50%);
    border-bottom:3px dashed #54bebcd8;
    border-top:3px dashed #54BEBC;
    .price{
      float:right;
      position:relative;
      right:30px;
      margin-right: 10px;
      sub{
       position:absolute;
       right:-30px;
       font-weight:lighter;
       font-size:10pt;
       margin-right: 10px;
      }
    }
    .options{
      display:block;
      list-style:none;
      margin-top:0px;
      padding-bottom: 20px;
      padding-left: 0;
      li{
        font-size:13px;
        color:rgb(119, 114, 114);
        text-transform:capitalize;
      }
    }
  }
}
 p{
    text-align:left;
    color:rgb(90, 88, 88);
    font-weight:600;
    font-size:15px;
    text-transform:capitalize;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 5px;
 }
