 .table-new {
  background:#fff;
  width:80%;
  height:auto;
  padding: 20px 40px;
  color:rgb(119, 114, 114);
  margin: 0 auto;
  border-radius:15px;
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  -webkit-transform:translateY(0%);
  transform:translateY(0%);
  -webkit-transition:.3s;
  transition:.3s;

    &:hover{
      -webkit-transform:translateY(-2%);
      transform:translateY(-2%);
      -moz-box-shadow: 1px 8px 5px rgba(0,0,0,.2);
      -webkit-box-shadow: 1px 8px 5px rgba(0,0,0,.2);
      box-shadow: 1px 8px 5px rgba(0,0,0,.2);
    }

    h2 {
      font-size:22pt;
      color:rgb(119, 114, 114);
      font-style: italic;
      font-weight: 400;
      padding: 30px 0;
    }

    .table-content {
      // justify-content: space-between;
      // flex-direction: column;
      border-bottom:3px dashed #54bebcd8;
      border-top:3px dashed #54BEBC;
      padding: 20px 0;
    }

    .table-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .table-grid span {
      margin-bottom: 30px;
    }
 }

 @media (min-width: 100px) and (max-width: 575px) {
  .table-new {
    width: 250px;

    .table-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 10pt;
      text-align: center;
      align-items: center;
    }
  }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .table-new {
    width: 100%;

    .table-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 12pt;
      text-align: center;
      align-items: center;
    }
  }
}
