<% inventories.each do |inventory| %>
      <%= inventory.pharmacy.pharmacy_name %>
      <%= inventory.pharmacy.pharmacy_address %>
      <p>unidades: <%= inventory.units %></p>
      <%= link_to "Selecionar", new_medication_order_path(pharmacy_id: inventory.pharmacy.pharmacy_id), class: "btn btn-primary" %>
<% end %>
